header{
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;

    a{
        outline: none;
        text-decoration: none;
        text-align: center;
        font-size: 22px;
        display: inline-block;
        margin: 50px;

    }
    h1{
        font-family: 'Architects Daughter', cursive;
        font-size: 24px;
        text-align: left;
        color: black;
        // margin: 50px;
    }
}